<%- include('header.html'); %>
	<div class="container">
		<div class="container-wrap">
			<div class="aboutme clearfix">
				<div class="avator col-xs-12 col-md-5">
					<img src="http://7xkdc3.com1.z0.glb.clouddn.com/avator/avator.jpg" alt="avator">
					<p>Gauze</p>
				</div>
				<div class="desc col-xs-12 col-md-7">
					<h3>小纱布</h3>
					<p>一位有着设计梦的前端攻城狮。</p>
					<span>如有疑问请留言</span>
				</div>
				<div class="message col-xs-12">
					<div class="message-wrapper">
						<% for(var i in messages){ %>
						<div id="msg-<%= messages[i].message_no %>" class="msg">
							<h3><span>Q</span>: <%= messages[i].message_content  %><a title="回复" href="javascript:void(0);" onclick="replyLeaveMsg(<%= messages[i].message_no %>, '<%= messages[i].message_content  %>');" class="glyphicon glyphicon-share"></a></h3>
							<ul class="answer">
								<% for(var j in messages[i].replys){ %>
								<li> <%= messages[i].replys[j].message_content %></li>
								<% } %>
							</ul>
						</div>
						<% } %>
					</div>
					<form action="" class="form leave-msg clearfix">
						<input type="hidden" name="parent" value="">
						<textarea class="form-control" name="content" id="" cols="30" rows="5" placeholder="说点什么吧"></textarea>
						<input type="button" onclick="leaveMsg(this.form, this);" class="btn btn-success pull-right" value="留言">
					</form>
				</div>
			</div>
		</div>
	</div>
<%- include('footer.html')%>