<%- include('header.html'); %>
	<div class="container">
		<div class="container-wrapper row">
			<div class="side col-xs-12 col-sm-3">
				<% if(!userinfo) {%>
				<div class="no-login">
					<form class="form" action="">
						<input class="form-control" type="text" name="username" placeholder="用户名">
						<input class="form-control" class="form-control" type="password" name="userpass" placeholder="密码">
						<input class="form-control hide" type="password" name="reuserpass" placeholder="确认密码">
						<input id="LOGIN" class="submit btn btn-success" name="submit" type="button" value="登录">
					</form>
					<p><a id="switch-reg" class="login" href="javascript:void(0)">立即注册</a></p>
				</div>
				<% } else {%>
				<div class="mine">
					<img src="http://<%= bucketLocation %><%=userinfo.user_avator_key%>" alt="avator">
					<p><a class="name" href=""><%= userinfo.user_nick || userinfo.user_name %></a></p>
					<input id="loginUser" type="hidden" name="loginUser" value="<%= userinfo.user_nick || userinfo.user_name %>">
					<a class="logout glyphicon glyphicon-off" title="登出" href="javascript:void(0);"></a>
				</div>
				<% } %>
				<h3 class="hidden-xs">推荐</h3>
				<div class="others hidden-xs">
					<div class="other">
						<p><img class="avator" src="imgs/avator.jpg" alt="avator"><a class="name" href="">Gauze</a><a class="btn btn-success fallow" href="">关注</a></p>
						<img src="/imgs/nice.jpg" alt="avator">
						<p>anything is impossible.</p>
					</div>
					<div class="other">
						<p><img class="avator" src="imgs/avator.jpg" alt="avator"><a class="name" href="">NeaLi</a><a class="btn btn-success fallow" href="">关注</a></p>
						<img src="/imgs/green.jpg" alt="avator">
						<p>anything is impossible.</p>
					</div>
				</div>
			</div>
			<div class="main col-xs-12 col-sm-9">
				<div class="main-wrapper clearfix">
					<% for(var i in posts){%>
						<div id="post-<%= posts[i].post_no %>" class="blog">
							<div class="author">
								<img src="http://<%= (bucketLocation + posts[i].user_avator_key) %>" alt="avator">
								<a href="zone/<%= posts[i].user_name %>"><%= (posts[i].user_nick || posts[i].post_user) %></a>
								<span><%= posts[i].post_ctime %></span>
							</div>
							<div class="picture"><img src="http://<%= (bucketLocation + posts[i].post_img_key) %>" alt="pic"></div>
							<p>
								<a class="like glyphicon glyphicon-heart-empty" title="赞" href="javascript:void(0);"></a>
								<span class="like text-primary">99次赞</span>
								<a class="comment glyphicon glyphicon-comment" title="评论" href="javascript:void(0);"></a>
								<span class="comment text-primary">33条评论</span>
							</p>
							<ul class="comments">
								<li>正在加载...</li>
							</ul>
							<% if(userinfo){ %>
							<form method="" onsubmit="return false;" class="comment form col-xs-12" style="display: none;">
								<div class="col-xs-9 col-md-10">
									<input type="hidden" name="pno" value="<%= posts[i].post_no %>">
									<input type="hidden" name="from" value="<%= userinfo.user_name %>">
									<input type="hidden" name="to" value="<%= posts[i].post_user %>">
									<input type="hidden" name="fnick" value="<%= userinfo.user_nick %>">
									<input type="hidden" name="tnick" value="<%= posts[i].user_nick %>">
									<input type="hidden" name="parent" value="">
									<input class="form-control input-sm" type="text" name="comment" placeholder="填写评论">
								</div>
								<input class="btn submitComment btn-success btn-sm" type="button" value="发表">
							</form>
							<% } %>
						</div>
					<% } %>
				</div>
			</div>
			<% if(userinfo) {%>
			<div class="publish-wrapper">
				<form action="">
					<a class="publish glyphicon glyphicon-camera" title="发表" href="/publish"></a>
				</form>
			</div>
			<% } %>
		</div>
	</div>
<script src="js/index.js"></script>
<%- include('footer.html')%>