<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/common.css">
	<title>Blog</title>
</head>
<body>
	<div class="container-fluid header">
		<div class="container">
			<div class="header-wrapper">
				<img src="/imgs/logo.png" alt="logo">
				<ul>
					<li>find</li>
					<li>like</li>
					<li>home</li>
					<li>about</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="container-wrapper row">
			<div class="side col-xs-12 col-sm-3">
				<div class="mine">
					<img src="/imgs/avator.jpg" alt="avator">
					<p><a href="">Gauze</a></p>
					<p>anything is possible.</p>
				</div>
				<h3>推荐</h3>
				<div class="others">
					<div class="other">
						<p><img class="avator" src="imgs/avator.jpg" alt="avator"><a class="name" href="">Gauze</a><a class="btn btn-success fallow" href="">关注</a></p>
						<img src="/imgs/nice.jpg" alt="avator">
						<p>anything is impossible.</p>
					</div>
					<div class="other">
						<p><img class="avator" src="imgs/avator.jpg" alt="avator"><a class="name" href="">NeaLi</a><a class="btn btn-success fallow" href="">关注</a></p>
						<img src="/imgs/green.jpg" alt="avator">
						<p>anything is impossible.</p>
					</div>
				</div>
			</div>
			<div class="main col-xs-12 col-sm-9">
				<div class="main-wrapper clearfix">
					<div class="blog">
						<div class="author"><img src="/imgs/avator.jpg" alt="avator"><a href="">Gauze</a></div>
						<div class="picture"><img src="/imgs/nice.jpg" alt="pic"></div>
						<p><a class="like" href="">like</a><span class="like text-primary">99次赞</span><a class="comment" href="">commnet</a><span class="comment text-primary">33条评论</span></p>
						<ul class="comments">
							<li><a href="">Gauze</a>: <span>It's awesome.</span></li>
							<li><a href="">NealLi</a>: <span>It's a piece of shit.</span></li>
						</ul>
					</div>
					<div class="blog">
						<div class="author"><img src="/imgs/avator.jpg" alt="avator"><a href="">Gauze</a></div>
						<div class="picture"><img src="/imgs/green.jpg" alt="pic"></div>
						<p><a class="like" href="">like</a><span class="like text-primary">99次赞</span><a class="comment" href="">commnet</a><span class="comment text-primary">33条评论</span></p>
						<ul class="comments">
							<li><a href="">Gauze</a>: <span>It's awesome.</span></li>
							<li><a href="">NealLi</a>: <span>It's a piece of shit.</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>