<%- include('header.html'); %>
	<div class="container">
		<div class="container-wrapper row">
			<div class="main col-xs-12 col-sm-12">
				<div class="main-wrapper clearfix">
					<div class="blog">
						<div class="author">
							<img src="/imgs/avator.jpg" alt="avator">
							<a href="">Gauze</a>
							<span>2015-7-13 22:14:23</span>
						</div>
						<div class="picture"><img src="/imgs/nice.jpg" alt="pic"></div>
						<p>
							<a class="like glyphicon glyphicon-heart-empty" title="赞" href="javascript:void(0);"></a>
							<span class="like text-primary">99次赞</span>
							<a class="comment glyphicon glyphicon-comment" title="评论" href="javascript:void(0);"></a>
							<span class="comment text-primary">33条评论</span>
						</p>
						<ul class="comments">
							<li><a href="">Gauze</a>: <span>It's awesome.</span></li>
							<li><a href="">NealLi</a>: <span>It's a piece of shit.</span></li>
						</ul>
						<form method="" class="form col-xs-12" style="display: none;">
							<div class="col-xs-10">
								<input class="form-control input-sm" type="text" name="comment" placeholder="填写评论">
							</div>
							<input class="btn btn-success btn-sm" type="button" value="发表">
						</form>
					</div>
					<div class="blog">
						<div class="author">
							<img src="/imgs/avator.jpg" alt="avator">
							<a href="">Gauze</a>
							<span>2015-7-13 22:14:23</span>
						</div>
						<div class="picture"><img src="/imgs/green.jpg" alt="pic"></div>
						<p>
							<a class="like glyphicon glyphicon-heart-empty" title="赞" href="javascript:void(0);"></a>
							<span class="like text-primary">99次赞</span>
							<a class="comment glyphicon glyphicon-comment" title="评论" href="javascript:void(0);"></a>
							<span class="comment text-primary">33条评论</span>
						</p>
						<ul class="comments">
							<li><a href="">Gauze</a>: <span>It's awesome.</span></li>
							<li><a href="">NealLi</a>: <span>It's a piece of shit.</span></li>
						</ul>
						<form method="" class="form col-xs-12" style="display: none;">
							<div class="col-xs-10">
								<input class="form-control input-sm" type="text" name="comment" placeholder="填写评论">
							</div>
							<input class="btn btn-success btn-sm" type="button" value="发表">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include('footer.html')%>