<%- include('header.html'); %>
	<div class="container">
		<div class="container-wrapper row">
			<div class="myinfo">
				<div class="myinfo-wrapper clearfix">
					<div class="infos col-xs-12 col-md-6">
						<div class="avator col-xs-5">
							<img src="http://<%= (bucketLocation + userinfo.user_avator_key) %>" alt="avator">
						</div>
						<div class="details col-xs-7">
							<h3><%= userinfo.user_nick || userinfo.user_name %></h3>
							<p><%= userinfo.user_motto %></p>
						</div>
					</div>
					<div class="impression col-xs-12 col-md-6">
						<h3>好友印象</h3>
						<div class="imp-wrapper">
							<span class="bg-success">nice guy</span>
							<span class="bg-danger">nice guy</span>
							<span class="bg-warning">nice guy</span>
							<span class="bg-primary">nice guy</span>
							<span class="bg-info">nice guy</span>
							<span class="bg-success">nice guy</span>
							<span class="bg-danger">nice guy</span>
							<span class="bg-primary">nice guy</span>
							<span class="bg-warning">nice guy</span>
						</div>
					</div>
					<div class="action"><a class="setting glyphicon glyphicon-cog" title="设置" href="/settings"></a><a class="logout glyphicon glyphicon-off" title="登出" href="javascript:void(0);"></a></div>
				</div>
			</div>
			<div class="main col-xs-12 col-sm-12">
				<div class="mynav-wrapper">	
					<ul class="nav clearfix">
						<li class="col-xs-4 col-sm-3 col-md-2">
							<a href="/myinfos"><span class="<% if(/^\/myinfos\/?$/.test(url)) {%>active<% } %> glyphicon glyphicon-picture"></span>动态</a>
						</li>
						<li class="col-xs-4 col-sm-3 col-md-2">
							<a href="/myinfos/atme"><span class="<% if(/atme\/?$/.test(url)) {%>active<% } %>">@</span>与我相关</a>
						</li>
						<li class="col-xs-4 col-sm-3 col-md-2">
							<a href="/myinfos/friends"><span class="<% if(/friends\/?$/.test(url)) {%>active<% } %> glyphicon glyphicon-list"></span>好友</a>
						</li>
					</ul>
				</div>
				<% if(type == 'posted') {%>
					<%- include('myinfos_posted.html') %>
				<% }else if(type == 'atme') {%>
					<%- include('myinfos_atme.html') %>
				<% }else if(type == 'friends') {%>
					<%- include('myinfos_friends.html') %>
				<% }%>
			</div>
		</div>
	</div>
<%- include('footer.html')%>