<div class="main-wrap clearfix">
	<div class="msg">
		<div class="msg-wrapper clearfix">
			<% for (var i =0; i<messages.length; i++){ %>
			<% if(messages[i].message_type == 1){ %>
			<div class="msg-item system col-xs-12">
				<div class="item-wrap">
					<h3>
						<span class="glyphicon glyphicon-envelope"></span>
						<a class="del glyphicon glyphicon-trash" title="删除" href=""></a>
					</h3>
					<div class="msg-content">
						<p><a href="">Gauze</a> 开始关注您了...</p>
					</div>
				</div>
			</div>
			<%} else {%>
			<div class="msg-item commnet col-xs-12">
				<div class="item-wrap">
					<h3>
						<span class="glyphicon glyphicon-envelope"></span>
						<a class="reply glyphicon glyphicon-share" title="回复" href=""></a>
					</h3>
					<p>
						<a class="avator" href=""><img src="http://<%= bucketLocation %><%=messages[i].user_avator_key%>" alt="avator"><span><%= messages[i].message_to_nick %></span><span class="time"><%= messages[i].message_ctime %></span></a>
					</p>
					<p class="current"><%= messages[i].message_content %></p>
					<div class="msg-content">
						<div class="post-link">
							<a href=""><img src="http://<%= bucketLocation %><%=messages[i].post_img_key%>" alt=""><span>it's awesome.</span></a>
						</div>
					</div>
					<ul class="comments">
						<li><a href="">Gauze</a>: <span>it's awesome.</span></li>
						<li><a href="">littleGauze</a>回复<a href="">Gauze</a>: <span>Thanks.</span></li>
					</ul>
				</div>
			</div>
			<% } %>
			<% } %>
		</div>
	</div>
</div>