<%- include('header.html'); %>
	<div class="container">
		<div class="container-wrapper row">
			<div class="side col-xs-12 col-sm-3">
				<div class="mine">
					<img src="/imgs/avator.jpg" alt="avator">
					<p><a class="name" href="">Gauze</a></p>
				</div>
				<h3 class="hidden-xs">推荐</h3>
				<div class="others hidden-xs">
					<div class="other">
						<p><img class="avator" src="imgs/avator.jpg" alt="avator"><a class="name" href="">Gauze</a><a class="btn btn-success fallow" href="">关注</a></p>
						<img src="/imgs/nice.jpg" alt="avator">
						<p>anything is impossible.</p>
					</div>
					<div class="other">
						<p><img class="avator" src="imgs/avator.jpg" alt="avator"><a class="name" href="">NeaLi</a><a class="btn btn-success fallow" href="">关注</a></p>
						<img src="/imgs/green.jpg" alt="avator">
						<p>anything is impossible.</p>
					</div>
				</div>
			</div>
			<div class="main col-xs-12 col-sm-9">
				<div class="main-wrapper clearfix">
					<div class="blog">
						<div class="author">
							<img src="/imgs/avator.jpg" alt="avator">
							<a href="">Gauze</a>
							<span>2015-7-13 22:14:23</span>
						</div>
						<div class="picture"><img src="/imgs/nice.jpg" alt="pic"></div>
						<p><a class="like glyphicon glyphicon-heart" title="赞" href=""></a><span class="like text-primary">99次赞</span><a class="comment glyphicon glyphicon-comment" title="评论" href=""></a><span class="comment text-primary">33条评论</span></p>
						<ul class="comments">
							<li><a href="">Gauze</a>: <span>It's awesome.</span></li>
							<li><a href="">NealLi</a>: <span>It's a piece of shit.</span></li>
						</ul>
					</div>
					<div class="blog">
						<div class="author">
							<img src="/imgs/avator.jpg" alt="avator">
							<a href="">Gauze</a>
							<span>2015-7-13 22:14:23</span>
						</div>
						<div class="picture"><img src="/imgs/green.jpg" alt="pic"></div>
						<p><a class="like glyphicon glyphicon-heart" title="赞" href=""></a><span class="like text-primary">99次赞</span><a class="comment glyphicon glyphicon-comment" title="评论" href=""></a><span class="comment text-primary">33条评论</span></p>
						<ul class="comments">
							<li><a href="">Gauze</a>: <span>It's awesome.</span></li>
							<li><a href="">NealLi</a>: <span>It's a piece of shit.</span></li>
						</ul>
					</div>
				</div>
			</div>
			<a class="publish glyphicon glyphicon-camera" title="发表" href=""></a>
		</div>
	</div>
<%- include('footer.html')%>