<div class="main-wrap clearfix">
	<div class="msg">
		<div class="msg-wrapper clearfix">
			<div class="msg-item system col-xs-12">
				<div class="item-wrap">
					<h3>
						<span class="glyphicon glyphicon-envelope"></span>
						<a class="del glyphicon glyphicon-trash" title="删除" href=""></a>
					</h3>
					<div class="msg-content">
						<p><a href="">Gauze</a> 开始关注您了...</p>
					</div>
				</div>
			</div>
			<div class="msg-item commnet col-xs-12">
				<div class="item-wrap">
					<h3>
						<span class="glyphicon glyphicon-envelope"></span>
						<a class="reply glyphicon glyphicon-share" title="回复" href=""></a>
					</h3>
					<p>
						<a class="avator" href=""><img src="/imgs/avator.jpg" alt="avator"><span>Gauze</span><span class="time">2015-7-16 11:08</span></a>
					</p>
					<p class="current">You are wellcome.</p>
					<div class="msg-content">
						<div class="post-link">
							<a href=""><img src="/imgs/avator.jpg" alt=""><span>it's awesome.</span></a>
						</div>
					</div>
					<ul class="comments">
						<li><a href="">Gauze</a>: <span>it's awesome.</span></li>
						<li><a href="">littleGauze</a>回复<a href="">Gauze</a>: <span>Thanks.</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>