<div class="main-wrap clearfix">
	<div class="search-wrapper">
		<input class="btn btn-success btn-sm" type="button" name="all" value="全部">
		<input class="btn btn-success btn-sm" type="button" name="fallow" value="关注">
		<input class="btn btn-success btn-sm" type="button" name="fallower" value="粉丝">
		<span>
			<input class=" " type="text" name="search-name" placeholder="输入好友名称查找好友">
			<a href="" class="glyphicon glyphicon-search"></a>
		</span>
	</div>
	<div class="friends-list">
		<div class="list-wrapper">
			<div class="list-item">
				<a href="">
					<img src="/imgs/avator.jpg" alt="avator">
					<span>Gauze</span>
				</a>
				<a title="取消关注" class="action glyphicon glyphicon-heart" href=""></a>
			</div>
			<div class="list-item">
				<a href="">
					<img src="/imgs/avator.jpg" alt="avator">
					<span>Gauze</span>
				</a>
				<a title="取消关注" class="action glyphicon glyphicon-heart-empty" href=""></a>
			</div>
			<div class="list-item">
				<a href="">
					<img src="/imgs/avator.jpg" alt="avator">
					<span>Gauze</span>
				</a>
				<a title="关注" class="action glyphicon glyphicon-heart-empty" href=""></a>
			</div>
			<div class="list-item">
				<a href="">
					<img src="/imgs/avator.jpg" alt="avator">
					<span>Gauze</span>
				</a>
				<a title="取消关注" class="action glyphicon glyphicon-heart" href=""></a>
			</div>
			<div class="list-item">
				<a href="">
					<img src="/imgs/avator.jpg" alt="avator">
					<span>Gauze</span>
				</a>
				<a title="取消关注" class="action glyphicon glyphicon-transfer" href=""></a>
			</div>
		</div>
	</div>
</div>