<div class="main-wrapper clearfix">
	<% for(var i in posts) {%>
	<div id="post-<%= posts[i].post_no %>" class="blog">
		<div class="author">
			<img src="http://<%= (bucketLocation + userinfo.user_avator_key) %>" alt="avator">
			<a href=""><%=  (userinfo.user_nick || userinfo.user_name) %></a>
			<span><%= posts[i].post_ctime %></span>
		</div>
		<div class="picture"><img src="http://<%= (bucketLocation + posts[i].post_img_key) %>" alt="pic"></div>
		<p>
			<a class="like glyphicon glyphicon-heart-empty" title="赞" <% if(userinfo){ %>onclick="doLike(<%=posts[i].post_no%>, '<%= userinfo.user_name %>', '<%= userinfo.user_nick %>', '<%= userinfo.user_name %>', '<%= userinfo.user_nick %>', this)"<% } %> href="javascript:void(0);"></a>
			<span class="like text-primary"><span>...</span>次赞</span>
			<a class="comment glyphicon glyphicon-comment" title="评论" href="javascript:void(0);"></a>
			<span class="comment text-primary"><span>...</span>条评论</span>
		</p>
		<ul class="comments">
			<li>正在加载...</li>
		</ul>
		<% if(userinfo){ %>
		<form method="" onsubmit="return false;" class="comment form col-xs-12" style="display: none;">
			<div class="col-xs-9 col-md-10">
				<input type="hidden" name="pno" value="<%= posts[i].post_no %>">
				<input type="hidden" name="from" value="<%= userinfo.user_name %>">
				<input type="hidden" name="to" value="<%= posts[i].post_user %>">
				<input type="hidden" name="fnick" value="<%= userinfo.user_nick %>">
				<input type="hidden" name="tnick" value="<%= posts[i].user_nick %>">
				<input type="hidden" name="parent" value="">
				<input class="form-control input-sm" type="text" name="comment" placeholder="填写评论">
			</div>
			<input class="btn submitComment btn-success btn-sm" type="button" value="发表">
		</form>
		<% } %>
	</div>
	<% } %>
</div>