<%- include('header.html'); %>
	<div class="container">
		<div class="container-wrapper row">
			<div class="main col-xs-12 col-sm-12">
				<div class="main-wrapper clearfix">
					<div class="search-wrapper clearfix">
						<form action=""class="form-horizontal">
							<div class="form-group">
								<div class="search-wrap col-xs-12 col-sm-8 col-lg-6">
									<input class="form-control" type="text" name="keywords" placeholder="请输入关键词">
									<a class="glyphicon glyphicon-search"></a>
								</div>
							</div>
						</form>
					</div>
					<div class="wrapper-left col-xs-12 col-md-6">
						<% for(var i in posts){%>
							<% if (i%2 == 0) {%>
								<div id="post-<%= posts[i].post_no %>" class="blog">
									<div class="author">
										<img src="http://<%= (bucketLocation + posts[i].user_avator_key) %>" alt="avator">
										<a href="zone/<%= posts[i].user_name %>"><%= (posts[i].user_nick || posts[i].post_user) %></a>
										<span><%= posts[i].post_ctime %></span>
									</div>
									<div class="picture"><img src="http://<%= (bucketLocation + posts[i].post_img_key) %>" alt="pic"></div>
									<p>
										<a class="like glyphicon glyphicon-heart-empty" title="赞" <% if(userinfo){ %>onclick="doLike(<%=posts[i].post_no%>, '<%= userinfo.user_name %>', '<%= userinfo.user_nick %>', '<%= posts[i].user_name %>', '<%= posts[i].user_nick %>', this)"<% } %> href="javascript:void(0);"></a>
										<span class="like text-primary"><span>...</span>次赞</span>
										<a class="comment glyphicon glyphicon-comment" title="评论" href="javascript:void(0);"></a>
										<span class="comment text-primary"><span>...</span>条评论</span>
									</p>
									<ul class="comments">
										<li>正在加载...</li>
									</ul>
								</div>
							<% } %>
						<% } %>
					</div>
					<div class="wrapper-right col-xs-12 col-md-6">
						<% for(var i in posts){%>
							<% if (i%2 != 0) {%>
								<div id="post-<%= posts[i].post_no %>" class="blog">
									<div class="author">
										<img src="http://<%= (bucketLocation + posts[i].user_avator_key) %>" alt="avator">
										<a href="zone/<%= posts[i].user_name %>"><%= (posts[i].user_nick || posts[i].post_user) %></a>
										<span><%= posts[i].post_ctime %></span>
									</div>
									<div class="picture"><img src="http://<%= (bucketLocation + posts[i].post_img_key) %>" alt="pic"></div>
									<p>
										<a class="like glyphicon glyphicon-heart-empty" title="赞" <% if(userinfo){ %>onclick="doLike(<%=posts[i].post_no%>, '<%= userinfo.user_name %>', '<%= userinfo.user_nick %>', '<%= posts[i].user_name %>', '<%= posts[i].user_nick %>', this)"<% } %> href="javascript:void(0);"></a>
										<span class="like text-primary"><span>...</span>次赞</span>
										<a class="comment glyphicon glyphicon-comment" title="评论" href="javascript:void(0);"></a>
										<span class="comment text-primary"><span>...</span>条评论</span>
									</p>
									<ul class="comments">
										<li>正在加载...</li>
									</ul>
								</div>
							<% } %>
						<% } %>
				</div>
			</div>
		</div>
	</div>
<%- include('footer.html')%>