<%- include('header.html'); %>
	<div class="container">
		<div class="container-wrapper row">
			<div class="main col-xs-12 col-sm-12">
				<div class="main-wrapper clearfix">
					<div class="search-wrapper clearfix">
						<form action=""class="form-horizontal">
							<div class="form-group">
								<div class="search-wrap col-xs-12 col-sm-8 col-lg-6">
									<input class="form-control" type="text" name="keywords" placeholder="请输入关键词">
									<a class="glyphicon glyphicon-search"></a>
								</div>
							</div>
						</form>
					</div>
					<div class="wrapper-left col-xs-12 col-md-6">
						<% for(var i in posts){%>
							<% if (i%2 == 0) {%>
								<div class="blog">
									<div class="author">
										<img src="http://<%= (bucketLocation + posts[i].user_avator_key) %>" alt="avator">
										<a href=""><%= (posts[i].user_nick || posts[i].post_user) %></a>
										<span><%= posts[i].post_ctime %></span>
									</div>
									<div class="picture"><img src="http://<%= (bucketLocation + posts[i].post_img_key) %>" alt="pic"></div>
									<p>
										<a class="like glyphicon glyphicon-heart-empty" title="赞" href="javascript:void(0);"></a>
										<span class="like text-primary">99次赞</span>
										<a class="comment glyphicon glyphicon-comment" title="评论" href="javascript:void(0);"></a>
										<span class="comment text-primary">33条评论</span>
									</p>
									<ul class="comments">
										<li><a href="">Gauze</a>: <span>It's awesome.</span></li>
										<li><a href="">NealLi</a>: <span>It's a piece of shit.</span></li>
									</ul>
									<form method="" class="form col-xs-12" style="display: none;">
										<div class="col-xs-10">
											<input class="form-control input-sm" type="text" name="comment" placeholder="填写评论">
										</div>
										<input class="btn btn-success btn-sm" type="button" value="发表">
									</form>
								</div>
							<% } %>
						<% } %>
					</div>
					<div class="wrapper-right col-xs-12 col-md-6">
						<% for(var i in posts){%>
							<% if (i%2 != 0) {%>
								<div class="blog">
									<div class="author">
										<img src="http://<%= (bucketLocation + posts[i].user_avator_key) %>" alt="avator">
										<a href=""><%= (posts[i].user_nick || posts[i].post_user) %></a>
										<span><%= posts[i].post_ctime %></span>
									</div>
									<div class="picture"><img src="http://<%= (bucketLocation + posts[i].post_img_key) %>" alt="pic"></div>
									<p>
										<a class="like glyphicon glyphicon-heart-empty" title="赞" href="javascript:void(0);"></a>
										<span class="like text-primary">99次赞</span>
										<a class="comment glyphicon glyphicon-comment" title="评论" href="javascript:void(0);"></a>
										<span class="comment text-primary">33条评论</span>
									</p>
									<ul class="comments">
										<li><a href="">Gauze</a>: <span>It's awesome.</span></li>
										<li><a href="">NealLi</a>: <span>It's a piece of shit.</span></li>
									</ul>
									<form method="" class="form col-xs-12" style="display: none;">
										<div class="col-xs-10">
											<input class="form-control input-sm" type="text" name="comment" placeholder="填写评论">
										</div>
										<input class="btn btn-success btn-sm" type="button" value="发表">
									</form>
								</div>
							<% } %>
						<% } %>
				</div>
			</div>
		</div>
	</div>
<%- include('footer.html')%>