body{
	background-color: #f4f4f4;
}
a:link,
a:visited,
a:active,
a:focus{
	text-decoration: none;
	outline: none;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
textarea{
	resize: none;
}
div.container-fluid div.container{
	padding: 0;
}
div.container-wrapper{
	position: relative;
}
div.header{
	width: 100%;
	position: relative;
	background-color: #00AA7E;
	box-shadow: 0 1px 3px 1px #ccc;
	z-index: 99;
}
div.header-wrapper{
	height: 60px;
}
div.log-wrapper{
	padding: 0;
	height: 60px;
	text-align: center;
}
div.header-wrapper img{
	height: 100%;
}
div.header-wrapper ul{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
div.nav-wrapper{
	padding: 0;
}
ul.nav li a{
	vertical-align: top;
	color: white;
	font-size: 30px;
	height: 60px;
	line-height: 36px;
	text-align: center;
	margin-top: -1px
}
ul.nav li a.active{
	background-color: white;
	color: #00AA7E;
}
ul.nav li a:hover{
	background-color: white;
	color: #00AA7E;
}
div.side{
	position: relative;
	margin: 10px 0;
	background-color: white;
	box-shadow: 0 0 3px 1px #ccc;
}
div.side .mine{
	width: 70%;
	margin: 20px auto;
}
div.side .mine img{
	
}
div.side .mine p{
	text-align: center;
}
div.side .mine a{
	text-decoration: none;
	color: #555;
}
div.side .mine a.name{
	font-size: 30px;
	font-weight: bold;
}
div.side .mine a.logout{
	position: absolute;
	font-size: 20px;
	right: 10px;
	top: 10px;
}
div.side .mine a.logout:hover{
	color: #d43f3a;
}
div.side .mine a:hover{
	text-decoration: none;
	color: #555;
}
div.side h3{
	margin-top: 40px;
	font-size: 20px;
	line-height: 30px;
	height: 30px;
	text-indent: 5px;
	border-left: 5px solid #00AA7E;
	border-bottom: 1px dashed #ccc;
}
div.side .others{
	
}
div.side .other{
	margin: 20px 0;
}
div.side .other img.avator{
	width: 40px;
	height: 40px;
}
div.side .other a.name{
	display: inline-block;
	font-size: 18px;
	margin-left: 5px;
	vertical-align: top;
	margin-top: 10px;
}
div.side .other a.fallow{
	float: right;
	padding: 0 5px;
}

div.no-login{
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;
}

div.no-login form input{
	margin-top: 15px;
}
div.no-login form input[type=button]{
	width: 100%;
}
div.no-login p{
	text-align: center;
	margin-top: 5px;
	font-size: 12px;
}
div.no-login p a:hover{
	text-decoration: underline;
}

div.main{
	margin: 10px 0;
	padding: 0 3%;
}
div.main-wrapper{
	background-color: white;
	box-shadow: 0 0 3px 1px #ccc;
}
div.main-wrapper a.fallow{
	position: absolute;
	padding: 0 10px;
	margin: 0;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	right: 5px;
	bottom: 10px;
}
div.wrapper-left,
div.wrapper-right{
	position: relative;
}
div.search-wrapper{
}
div.search-wrapper form{
	width: 100%;
}
div.search-wrapper div.form-group{
	margin-bottom: 0;
}
div.search-wrapper div.btn-group{
	margin-left: 15px;
	margin-bottom: 5px;
}
div.search-wrap{
	position: relative;
}
div.search-wrap a{
	position: absolute;
	font-size: 20px;
	color: #00AA7E;
	right: 25px;
	top: 6px;
	cursor: pointer;
}
div.search-wrap a:hover{
	text-decoration: none;
	color: #00C18E;
}
div.main-wrap{
	width: 106%;
	margin-left: -3%;
}
div.blog{
	margin-bottom: 40px;
	position: relative;
}
div.author{
	position: relative;
}
div.author img{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	margin-top: 10px;
}
div.author a{
	display: inline-block;
	font-size: 20px;
	margin-left: 5px;
	margin-top: 10px;
	vertical-align: top;
}
div.author span{
	display: inline-block;
	position: absolute;
	top: 40px;
	left: 80px;
	color: #666;
	font-size: 12px;
}
div.blog .picture{
	position: relative;
	margin-left: -2%;
	width: 104%;
	box-shadow: 0 0 2px 1px #ccc;
	background-color: white;
}
span.tmp-heart{
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	font-size: 60px;
	opacity: 0.9;
	color: #ea211f;
}
div.blog .picture img{
	width: 100%;
}
div.blog p{
	margin: 5px 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	line-height: 32px;
}
div.blog p a{
	display: inline-block;
	font-size: 25px;
}
div.blog p a.glyphicon-heart{
	color: #EA211F;
}
div.blog p a:hover{
	text-decoration: none;
}
div.blog a.comment{
	margin-left: 20px;
}
div.blog p span{
	vertical-align: top;
	line-height: 30px;
	margin-left: 5px;
}
div.blog ul.comments{
	margin: 0 20px;
}
div.blog ul li{
	word-break: break-all;
}

a.publish{
	position: fixed;
	top: 100px;
	right: 20px;
	font-size: 50px;
	color: #00AA7E;
	text-decoration: none;
}
a.publish:hover{
	text-decoration: none;
}

/*myinfos css*/
div.myinfo{
	position: relative;
	margin-top: 10px;
}
div.myinfo-wrapper{
	position: relative;
	background-color: white;
	box-shadow: 0 0 3px 2px #ccc;
	padding: 10px; 
}
div.myinfo div.infos{
	margin-top: 10px;
}
div.myinfo div.avator{
	
}
div.myinfo div.avator img{
	width: 100%;
}
div.myinfo div.details{
	display: inline-block;
	max-height: 200px;
	margin-top: 10px;
	margin-left: -20px;
	overflow: hidden;
}
div.myinfo div.details h3{
	font-size: 30px;
	font-weight: bold;
	color: #555;
}
div.myinfo div.details p{
	word-wrap: break-all;
	word-break: break-all;
}
div.impression{
	position: relative;
	padding: 20px 10px; 
}
div.imp-wrapper{
	margin: 5px; 
	max-height: 150px;
	overflow: auto;
}
div.impression h3{
	text-indent: 5px;
	color: #00AA7E;
	font-weight: bold;
	word-wrap: break-all;
}
div.imp-wrapper span{
	padding: 3px 8px;
	float: left;
	border-radius: 5px;
	box-shadow: 0 0 2px 1px #ddd;
	margin: 5px;
}
div.myinfo div.action{
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
}
div.myinfo div.action a{
	color: #888;
	font-size: 20px;
	padding: 0 5px;
	background-color: white;
}
div.myinfo div.action a.setting:hover{
    color: #4cae4c;
}
div.myinfo div.action a.logout:hover{
    color: #d43f3a;
}
div.myinfo div.action a.fallow{
	background-color: #5cb85c;
	padding: 3px 12px;
	font-size: 14px;
	color: white;
	opacity: 0.7;
}
div.myinfo div.action a.unfallow{
	background-color: #bbb;
	border: 1px solid #aaa;
	color: white;
	padding: 3px 12px;
	font-size: 14px;
	opacity: 0.7;
}
div.myinfo div.action a.fallow:hover,
div.myinfo div.action a.unfallow:hover{
	opacity: 1;
}
div.mynav-wrapper{
	position: relative;
	border: 1px solid #ddd;
	background-color: white;
	box-shadow: 0 0 3px 1px #ccc;
	width: 106%;
	margin-left: -3%;
	z-index: 9;
}
div.mynav-wrapper li a{
	text-align: center;
	color: #555;
	font-size: 12px;
	margin-top: 0;
}
div.mynav-wrapper li a:hover{
	color: #555;
}
div.mynav-wrapper li a span{
	display: block;
	line-height: 20px;
	font-size: 25px;
	color: #555;
}
div.mynav-wrapper li a span.active{
	color: #00AA7E;
}

/* atme css */
div.msg-item{
	background-color: white;
	box-shadow: 0 0 3px 1px #ccc;
	border-radius: 5px;
	margin: 10px 0;
}
div.item-wrap{
	padding: 30px 10px;
}
div.msg-item h3{
	line-height: 30px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -20px;
}
div.msg-item h3 span{
	font-size: 25px;
	color: #aaa;
}
div.msg-item h3 a{
	float: right;
	font-size: 20px;
	color: #666;
}
div.msg-item h3 a.del:hover{
	color: #d43f3a;
}
div.msg-item h3 a.reply:hover{
	color: #4cae4c;
}
div.msg-content{
	background-color: #f2f2f2;
	padding: 10px;
}
div.msg-item a.avator{
	position: relative;
	display: block;
}
div.msg-item a.avator img{
	width: 40px;
	height: 40px;
}
div.msg-item a.avator span{
	vertical-align: top;
	margin-left: 5px;
}
div.msg-item a.avator span.time{
	position: absolute;
	left: 40px;
	top: 20px;
	font-size: 12px;
	color: #aaa;
}
div.msg-content div.post-link a{
	display: block;
}
div.msg-content div.post-link a img{
	width: 60px;
	height: 60px;
}
div.msg-content div.post-link a span{
	vertical-align: top;
	padding: 5px;
}
div.item-wrap ul.comments{
	margin-top: 5px;
}

/* friends css */
div.search-wrapper{
	background-color: white;
	padding: 20px 10px;
}
div.search-wrapper span{
	width: 60%;
	display: inline-block;
	position: relative;
}
div.search-wrapper span input{
	background-color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 5px;
	width: 100%;
	height: 30px;
	border: 1px solid #ddd;
	text-indent: 5px;
	line-height: 30px;
}
div.search-wrapper span input:focus{
	border: 1px solid #66afe9;
	outline: 0 none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
div.search-wrapper span a{
	color: #00AA7E;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	right: 5px;
	top: 6px;
}
div.search-wrapper span a:hover{
	color: #03B989;
	font-size: 21px;
}
div.friends-list{
	background-color: white;
}
div.list-wrapper{
	margin: 0 20px;
}
div.list-item{
	display: block;
	position: relative;
	text-decoration: none;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
div.list-item img{
	width: 60px;
	height: 60px;
	margin: 0 10px;
}
div.list-item span{
	display: inline-block;
	font-size: 25px;
	vertical-align: top;
	margin-top: 15px;
	color: #444;
}
div.list-item a{
	display: inline-block;
}
div.list-item a.action{
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 25px;
}
div.list-item:hover{
	text-decoration: none;
	background-color: #f4f4f4;
}

div.aboutme{
	margin: 10px 0;
	background-color: white;
	box-shadow: 0 0 3px 1px #ccc;
}
div.aboutme div.avator{
	padding: 30px;
	text-align: center;
}
div.aboutme div.avator img{
	width: 70%;
}
div.aboutme div.avator p{
	font-size: 30px;
	color: #555;
}
div.aboutme div.desc{
	padding: 30px;
}
div.aboutme div.desc h3{
	font-size: 30px;
}
div.aboutme div.desc p{
	text-indent: 30px;
	min-height: 200px;
	color: #666;
	font-size: 20px;
}
div.aboutme div.desc span{
	font-size: 16px;
	color: #666;
}
div.message-wrapper{
	margin: 30px 0;
}
div.message-wrapper div.msg{
	margin-bottom: 20px;
}
div.message-wrapper div.msg h3{
	position: relative;
	box-shadow: 0 0 3px 1px #ccc;
	text-indent: 10px;
	font-size: 20px;
	line-height: 40px;
}
div.message-wrapper div.msg h3 a{
	position: absolute;
	color: #777;
	right: 10px;
	top: 10px;
}
div.message-wrapper div.msg ul li{
	position: relative;
	background-color: #f1f1f1;
	line-height: 30px;
	text-indent: 15px;
	border-bottom: 1px dashed #ccc;
}
form.leave-msg{
	margin-bottom: 30px;
}
form.leave-msg textarea{
	resize: none;
}
form.leave-msg input{
	margin-top: 5px;
	width: 100px;
}

/* settings css */
div.settings-wrap{
	background-color: white;
	margin-top: -20px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 40px;
	box-shadow: 0 0 3px 1px #ccc;
	border-radius: 20px;
}
div.settings-wrap form{
	margin: 10px;
}
div.settings-wrap div.avator-wrap{
	position: relative;
	padding: 0;
	margin-left: 20px;
	width: 200px;
	height: 200px;
	background-color: #f4f4f4;
	border: 1px solid #ccc;
}
div.settings-wrap div.avator-wrap img{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
}
div.avator-wrap div.progress-wrap{
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -120px;
	z-index: 9;
}
div.avator-wrap div.progress{
	background-color: #ddd;
}
div.settings-wrap div.action-wrap{
	margin: 10px 0 30px;
	text-align: center;
}
div.settings-wrap div.action-wrap input{
	width: 150px;
}

/* publish css */
div.publish{
	margin-top: 10px;
	background-color: white;
	padding: 10px;
	box-shadow: 0 0 3px 1px #ccc;
}
div.post-wrapper{
	min-height: 300px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
div.post-wrapper img{
	width: 100%;
}
div.publish div.action{
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}
div.publish form{
	margin-top: 10px;
}
div.publish form span{
	color: #888;
}
div.publish form p{
	margin-bottom: 10px;
}
div.publish div.action a{
	width: 100px;
}
@media screen and (max-width: 600px){
	div.nav-wrapper li[class*=col]{
		padding: 0 3px;
	}
	div.header-wrapper img{
		height: 50%;
		margin-left: -10px;
		margin-top: 15%;
	}
}