body{
	background-color: #f4f4f4;
}
div.header{
	background-color: #00AA7E;
	box-shadow: 0 1px 3px 1px #ccc;
}
div.header-wrapper{
	height: 60px;
}
div.header-wrapper img{
	height: 50px;
	margin: 5px 0;
}
div.header-wrapper ul{
	display: inline-block;
	vertical-align: top;
}
div.header-wrapper ul li{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: orange;
	margin: 10px 20px;
}

div.side{
	margin: 10px 0;
	background-color: white;
	box-shadow: 0 0 3px 1px #ccc;
}
div.side .mine{
	width: 70%;
	margin: 20px auto;
}
div.side .mine img{
	
}
div.side .mine a{
	font-size: 20px;
}
div.side h3{
	margin-top: 40px;
	font-size: 20px;
	line-height: 30px;
	height: 30px;
	text-indent: 5px;
	border-left: 5px solid #00AA7E;
	border-bottom: 1px dashed #ccc;
}
div.side .others{
	
}
div.side .other{
	margin: 20px 0;
}
div.side .other img.avator{
	width: 40px;
	height: 40px;
}
div.side .other a.name{
	display: inline-block;
	font-size: 18px;
	margin-left: 5px;
	vertical-align: top;
	margin-top: 10px;
}
div.side .other a.fallow{
	float: right;
	padding: 0 5px;
}

div.main{
	margin: 10px 0;
	padding: 0 3%;
}
div.main-wrapper{
	background-color: white;
	box-shadow: 0 0 3px 1px #ccc;
}
div.blog{
	margin-bottom: 40px;
	position: relative;
}
div.author img{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	margin-top: 10px;
}
div.author a{
	display: inline-block;
	font-size: 20px;
	margin-left: 5px;
	margin-top: 10px;
	vertical-align: top;
}
div.blog .picture{
	position: relative;
	margin-left: -2%;
	width: 104%;
	box-shadow: 0 0 2px 1px #ccc;
	background-color: white;
}
div.blog .picture img{
	width: 100%;
}
div.blog p{
	margin: 5px 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}
div.blog p a{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: green;
	text-indent: -9999px;
}
div.blog a.comment{
	margin-left: 20px;
}
div.blog p span{
	vertical-align: top;
	line-height: 32px;
	margin-left: 5px;
}
div.blog ul.comments{
	margin: 0 20px;
}
div.blog ul li{
	word-break: break-all;
}